.c1{
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 600px;
	margin-top: 50px;
	border-radius: 20px;
}
.ser{
	height: 70px;
}
button
{
	border-radius: 10px;
	margin-left: 130px;
	margin-right: auto;
	text-align: center;
	background-color: brown;
	height: 50px;
	width: 150px;
}
input[type=text], select {
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
   }

body{
	background-color: brown;
}
.c2{
	font-size:26px;
	padding: 10px;
	height: 30px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: white;
	background-color: black;
	/* border-radius: 20px; */
}

.c3{
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
	color:black;
}
p{
	text-align: center;
}